{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div>

        <h1>Movie List - Basic MongoDB CRUD App</h1>
        <p>(Mongo tutorial gave sample movie data to play with)</p>
        <br><br>

        {% if movies|length < 1 %}
        <h4>There are no movies</h4>
        {% else %}
        <table>
            <tr>
                <th>TITLE</th>
                <th>YEAR</th>
                <th>TYPE</th>
                <th>ACTIONS</th>
            </tr>
            {% for movie in movies %}
                <tr>
                    <td>{{ movie['title'] }}</td>
                    <td>{{ movie['year'] }}</td>
                    <td>{{ movie['type'] }}</td>
                    <td>
                        <a href="/delete/{{movie['_id']}}">Delete</a>
                        <br>
                        <a href="/update/{{movie['_id']}}">Update</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
        <br>
        <form actions="/" method="POST">
            <label>Title:</label><input type = "text" name = "title" id = "title"><br>
            <label>Year:</label><input type = "text" name = "year" id = "year"><br>
            <label>Type:</label><input type = "text" name = "type" id = "type"><br> 
            <input type = "submit" value="Add">
        </form> 
    </div>
    
{% endblock %}
